*{
    margin: 0;
    padding: 0;
}



.menu ul{
    color: white;
    font-weight: bold;
    width: 100%;
   background-color: black;

}

.menu a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
